
/* meu segundo monitor */
@media (max-width: 1360px) {
    #logo {
        width: 12.5rem;
    }

    .content {
        padding: 1rem 0rem;

        h2 {
            font-size: 1.5rem;
            width: 85%;
        }
    
        h1 {
            font-size: 1.1rem;
            width: 85%;
        }
    
        p {
            width: 85%;
            font-size: 1rem;
        }
    }

    .budget {
        padding: 5px;

    }

    button.budget a {
        font-size: 12px;
    }


}

@media (max-width: 1024px) {
    
    .content {
        width: 70%;
        padding: 2rem 0rem;

        h2 {
            font-size: 1.5rem;
            width: 85%;
        }
    
        h1 {
            font-size: 1.2rem;
            width: 85%;
        }
    
        p {
            width: 85%;
            font-size: 1rem;
        }
    }
    
}

@media (max-width: 768px) {
    /* nav ul {
        flex-direction: column;
        align-items: center;
    } */

    .content {
        width: 80%;
        padding: 2rem 0rem;

        h2 {
            font-size: 30px;
            width: 85%;
        }
    
        h1 {
            font-size: 15px;
            width: 85%;
        }
    
        p {
            width: 85%;
            font-size: 10px;
        }

        .budget {
            font-size: 15px;
        }
    }
    
    #differentials {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 560px) {
    /* nav ul {
        flex-direction: column;
        align-items: center;
    } */

    .content {
        width: 80%;
        padding: 2rem 0rem;

        h2 {
            font-size: 20px;
            width: 85%;
        }
    
        h1 {
            font-size: 10px;
            width: 85%;
        }
    
        p {
            width: 85%;
            font-size: 7px;
        }

        .budget {
            font-size: 10px;
            width: 80%;
        }
    }


}