/* meu segundo monitor */
@media (max-width: 1360px) {
    #logo {
        width: 12.5rem;
    }

    .content {
        padding: 1rem 0rem;

        h2 {
            font-size: 1.5rem;
            width: 85%;
        }
    
        h1 {
            font-size: 1.1rem;
            width: 85%;
        }
    
        p {
            width: 85%;
            font-size: 1rem;
        }
    }

    .budget {
        padding: 5px;

    }

    button.budget a {
        font-size: 12px;
    }


}

@media (max-width: 1024px) {
    
    .content {
        width: 70%;
        padding: 2rem 0rem;

        h2 {
            font-size: 1.5rem;
            width: 85%;
        }
    
        h1 {
            font-size: 1.2rem;
            width: 85%;
        }
    
        p {
            width: 85%;
            font-size: 1rem;
        }
    }

    #container-differentials {
        flex-direction: column;
    }

    .a-u-container {
        font-size: 14px;
    }
    
    #left {
        padding-bottom: 5%;
    }
}

@media (max-width: 768px) {
    nav ul {
        font-size: 15px;
    }

    .content {
        width: 80%;
        padding: 2rem 0rem;

        h2 {
            font-size: 30px;
            width: 85%;
        }
    
        h1 {
            font-size: 15px;
            width: 85%;
        }

        p {
            width: 85%;
            font-size: 10px;
        }

        .budget {
            font-size: 10px;
        }
    }

    #left {
        width: 60%;
        padding-bottom: 7%;
    }

    #budget-container {
        .budget {
            width: 50vw;
            height: 7vh;
        }
    }

    #fixed {
        width: 8rem;
        height: 8rem;
    }
}

@media (max-width: 560px) {
    body {
        h2 {
            font-size: 22px;
        }
    }

    header {
        height: 12vh;
    }

    nav ul {
        font-size: 12px;
        height: 6vh;
    }

    .container {
        height: calc(100vh - 12vh - 6vh);
    }

    .content {
        width: 80%;
        padding: 2rem 0rem;
    
        h1 {
            font-size: 17px;
            width: 85%;
        }
    
        p {
            width: 85%;
            font-size: 14px;
        }

        .budget {
            height: 9%;
            width: 60%;
        }
    }

    #services {

        .container-services {
            font-size: 13px;
        }
    }

    #budget-container {
        .budget {
            width: 60vw;
            height: 5vh;
        }
    }

    #fixed {
        width: 7rem;
        height: 7rem;
    }
}